<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.collegelibraryproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".signin"
            android:label="@string/title_activity_signin" >
        </activity>
        <activity
            android:name=".detaillogin"
            android:label="detaillogin" >
        </activity>
        <activity
            android:name=".LibraryManager"
            android:label="LibraryManager" >
        </activity>
        <activity
            android:name=".Customlistview"
            android:label="@string/title_activity_customlistview" >
        </activity>
        <activity
            android:name=".searchbook"
            android:label="LibraryManager" >
        </activity>

        <receiver
            android:name=".MyBroadcastReceiver"
            android:process=":remote" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".first"
            android:label="@string/title_activity_first" >
        </activity>
        <activity
            android:name=".home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".login1"
            android:label="LibraryManager" >
        </activity>
    </application>

</manifest>
